html {
  scroll-behavior: smooth;
}
.header__wrap {
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: #434343;
  position: absolute;
  z-index: 10;
}
.header {
  background: #ffffff87;
  box-shadow: 0px 3px 10px #00000029;
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
}
.extra_side_padding8 {
  padding: 0 8px;
}
.padding_tb_8 {
  padding: 8px 0;
}

html {
  background-color: #eee;
}

.header__logo {
  color: #434343;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 2.8rem;
  align-self: center;
  font-weight: 700;
  letter-spacing: 2px;
  transform: translateY(-4px);
}
.red__indv {
  font-family: "Roboto Mono", monospace;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #cc0000;
}

.header__btns {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  align-self: center;
  margin-right: -8px;
  cursor: pointer;
}

.header__btn {
  color: #434343;
  text-decoration: none;
  font-size: 1.6rem;
  width: 92px;
  font-weight: 600;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.header__btn:hover {
  color: #cc0000;
  /* box-shadow: 0 4px 4px #e75151a5; */
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 32px;
  z-index: 2;
  margin-bottom: 32px;
}

.grid_item {
  text-decoration: none;
  /* background-color: #ffffff87; */
  height: 300px;
  width: 400px;
  border-radius: 28px;
  backdrop-filter: blur(20px);
  z-index: 2;
  box-shadow: 0px 3px 10px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  font-size: 2rem;
}
.project__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 28px;
  opacity: 0;
  text-decoration: none;
  color: #434343;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.project__title > span {
  font-size: 2rem;
  color: #cc0000;
  font-weight: 700;
}
.d_s {
  opacity: 1;
  background-color: #ffffff87;
  backdrop-filter: blur(20);
}

/*  */
.cafe_p {
  background-image: url(./asset/cafe_thumb.png);
  background-position: center;
  background-size: cover;
}
.hi_mentor {
  background-image: url(./asset/himentor.png);
  background-position: center;
  background-size: cover;
}
.self_talk {
  background-image: url(./asset/self_talk.png);
  background-position: center;
  background-size: cover;
}
/*  */

.grid_item:hover {
  box-shadow: 0px 3px 15px #e75151a5;
  background-color: #ffffff87;
}
.grid_item:hover .project__title {
  transition: all 0.3s ease-in-out;
  color: #cc0000;
  opacity: 1;
}

.intro {
  width: 1200px;
  height: 712px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .intro::before {
  content: ();
  background-image: url(./asset/page5.png);
} */
.intro__head {
  color: #434343;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  transform: translateY(48px);
}
.red__intro {
  font-family: "Roboto Mono", monospace;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #cc0000;
}
.sub__intro {
  color: #434343;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 16px 0;
  transform: translateY(48px);
}
.sub__intro_red {
  color: #cc0000;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.intro__btns {
  display: flex;
  padding: 12px 0;
  margin: 0 -8px;
  transform: translateY(48px);
}
.intro__btn {
  margin: 0 8px;
  border-radius: 50;
  background-color: #ffffff;
  color: #434343;
  box-shadow: 0 3px 10px #00000029;
  text-decoration: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  transition: ease-in-out 300ms;
}
.intro__btn_txt {
  color: #434343;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 16px 60px;
  transition: ease-in-out 300ms;
}
.intro__btn:hover {
  box-shadow: 0 2px 16px #e75151a5;
}
.intro__btn:hover .intro__btn_txt {
  color: #cc0000;
}
/* .intro::before {
  content: "";
  position: absolute;
  min-width: 1200px;
  min-height: 1200px;
  background: url(./asset/b1.png) fixed center;
  background-size: 100% 100%;
  z-index: 10;
} */
.bg {
  width: 100vw;
  height: 700px;
  position: absolute;
  transform: translateY(200px) rotate(180deg);
}
.bg > img {
  width: 100vw;
  height: auto;
  opacity: 10%;
  filter: saturate(0%);
  animation: bgColor infinite ease-in-out 4000ms;
}
@keyframes bgColor {
  0% {
    filter: saturate(0%);
    opacity: 10%;
  }
  50% {
    filter: saturate(100%);
    opacity: 50%;
  }
  100% {
    filter: saturate(0%);
    opacity: 10%;
  }
}
.bg-bottom {
  position: absolute;
  bottom: 0;
}

.footer {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #ffffff87;
  box-shadow: 0px 3px 10px #00000029;
  backdrop-filter: blur(20px);
}
.footer__wrap {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__sub {
  font-size: 1.4rem;
  color: #434343;
  padding: 0 16px;
}
.footer__soc {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.footer__btn {
  text-decoration: none;
  font-size: 4rem;
  margin: 8px;
  color: #434343;
  transition: ease-in-out 300ms;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.footer__btn:hover {
  color: #cc0000;
}
.copyright {
  font-size: 1.8rem;
  transform: translateY(2px);
}

/* aboutme */
.about {
  height: calc(100vh - 80px);
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
}
.row {
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
}
.row-grid {
  display: inline-grid;
  grid-template-areas: "col_4 col_8 col_8";
  grid-gap: 0px;
}

.col_4 {
  width: 100%;
  height: 400px;
  background-color: #b7b7b7;
  margin: auto 0;
}
.col_8 {
  width: 100%;
  height: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact {
  width: 1200px;
  height: calc(100vh - 80px);
}

/* project CSS */
.proj {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proj__hero {
  width: 100vw;
  margin-top: 80px;
  height: calc(100vw / 3);
  background-image: url(./asset/cafehero.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.proj__hero-mentor {
  width: 100vw;
  margin-top: 80px;
  height: calc(100vw / 3);
  background-image: url(./asset/heroment.png);
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: center;
}
.proj__hero-seta {
  width: 100vw;
  margin-top: 80px;
  height: calc(100vw / 3);
  background-image: url(./asset/selftalk.png);
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: center;
}
.proj__content {
  width: 100vw;
  min-height: 1200px;
}
.proj__title {
  width: 1000px;
  margin: 0 auto 56px auto;
}
.name {
  font-size: 3.2rem;
  padding: 44px 0 4px 0;
  font-weight: 500;
  transition: ease-in-out 0.5s;
  color: #434343;
}
.name:hover {
  color: #7d8f69;
}
.sub {
  font-size: 2rem;
  opacity: 0.8;
  padding: 4px 0 24px 0;
  font-weight: 700;
  color: #7d8f69;
}
.txt {
  font-size: 1.6rem;
  color: #434343;
}
.proj__title > p {
  font-size: 1.6rem;
  padding: 4px 0;
  color: #434343;
}
strong {
  font-size: 1.6rem;
  color: #557153;
  font-weight: 700;
}
/* himentor */
.name-ment {
  font-size: 3.2rem;
  padding: 44px 0 4px 0;
  font-weight: 500;
  transition: ease-in-out 0.5s;
  color: #434343;
}
.name-ment:hover {
  color: #00a6fb;
}
.sub-ment {
  font-size: 2rem;
  opacity: 0.8;
  padding: 4px 0 24px 0;
  font-weight: 700;
  color: #00a6fb;
}
strong.blue {
  font-size: 1.6rem;
  color: #005792;
  font-weight: 700;
}
/* selftalk */
.name-seta {
  font-size: 3.2rem;
  padding: 44px 0 4px 0;
  font-weight: 500;
  transition: ease-in-out 0.5s;
  color: #434343;
}
.name-seta:hover {
  color: #674ea7;
}
.sub-seta {
  font-size: 2rem;
  opacity: 0.8;
  padding: 4px 0 24px 0;
  font-weight: 700;
  color: #0496ff;
}
.seta {
  color: #674ea7;
}
a.seta {
  color: #99e1d9;
  transition: ease-in-out 300ms;
}
a.seta:hover {
  color: #674ea7;
}

strong.seta {
  color: #674ea7;
}

/* SECTIONS */
.section-A {
  background-color: #ffffff;
  width: 100%;
  min-height: 600px;
}
.section-B {
  background-color: #eeeeee;
  width: 100%;
  min-height: 600px;
}
.section_title {
  width: 1000px;
  margin: auto;
}
.section_name {
  color: #434343;
  font-size: 3.2rem;
  padding: 60px 0;
  font-weight: 300;
}
.sub_sec {
  width: 1000px;
  margin: auto;
}
#research_1 {
  width: 100%;
  height: 600px;
  margin: 52px 0;
  object-fit: cover;
  object-position: 0 60%;
  box-shadow: 0px 3px 10px #00000040;
}
.sub_sec_name {
  color: #434343;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 32px 0 0 0;
}
#research_2 {
  width: 700px;
  height: auto;
  margin: auto;
  display: flex;
}
.double-img {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#research_3 {
  width: 850px;
  height: auto;
  border-radius: 24px;
  box-shadow: 0px 3px 10px #00000029;
  margin: 12px auto;
}
/* Extras */
.mb_48 {
  margin-bottom: 48px;
}
.mb_24 {
  margin-bottom: 24px;
}
.pb_80 {
  padding-bottom: 80px;
}
.pb_60 {
  padding-bottom: 60px;
}
.pb_30 {
  padding-bottom: 30px;
}
.pb_20 {
  padding-bottom: 20px;
}
.txt_20 {
  font-size: 2rem;
}
.sub_sec > p > strong.txt_20-blue {
  font-size: 2rem;
  color: #005792;
}
.sub_sec > p > a.txt_20-blue {
  font-size: 2rem;
  color: #005792;
}
.sub_sec > p > strong.txt-blue {
  color: #005792;
}
.sub_sec > .two-third > .txt_block > p > strong.txt-blue {
  color: #005792;
}
.sub_sec > .two-third > .txt_block_ment > p > strong.txt-blue {
  color: #005792;
}
.sub_sec > p > strong.txt_20-seta {
  font-size: 2rem;
  color: #674ea7;
}
.sub_sec > p > a.txt_20-seta {
  font-size: 2rem;
  color: #674ea7;
}
.sub_sec > p > strong.txt-seta {
  color: #674ea7;
}
.sub_sec > .two-third > .txt_block > p > strong.txt-seta {
  color: #674ea7;
}
.pt_20 {
  padding-top: 20px;
}
.pt_48 {
  padding-top: 48px;
}
.txt-mid {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  margin: auto;
  width: 600px;
}

.two-third {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.txt_block {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.txt_block_ment {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ideate_1 {
  width: 450px;
  height: auto;
}
#ideate_2 {
  width: 80%;
  height: auto;
  margin: 40px auto;
  display: flex;
  box-shadow: 0px 3px 10px #00000029;
}
.txt-link {
  font-size: 2rem;
  color: #557153;
}
#ideate_3 {
  width: 70%;
  height: auto;
  margin: 40px auto;
  display: flex;
  box-shadow: 0px 3px 10px #00000029;
}
.sub_sec > p > strong {
  font-size: 1.6rem;
  color: #7d8f69;
  font-weight: 700;
}
img {
  border-radius: 28px;
}
#ds_1 {
  width: 100%;
  height: auto;
}
#ideate_4 {
  width: 450px;
  height: auto;
  box-shadow: 0px 3px 10px #00000029;
}
#ds_2 {
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 10px #00000029;
}
#nxt_1 {
  width: 450px;
  height: auto;
  box-shadow: 0px 3px 10px #00000029;
}
#abt {
  width: 300px;
  height: 450px;
  object-fit: cover;
  object-fit: 0 50%;
  transform: translateY(50px);
}
.abt_txt_block {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(50px);
}
.about__lnk {
  font-size: 1.6rem;
  padding: 2px 0;
  color: #cc0000;
  text-decoration: none;
}
.about__title {
  font-size: 2.4rem;
  padding: 8px 0;
}
.about__txt {
  font-size: 1.6rem;
  padding: 2px 0;
}

@media (max-width: 990px) and (min-width: 740px) {
  .abt_txt_block {
    width: 362px;
  }
}
@media (min-width: 1200px) {
  nav > .header__wrap > #mobile-menu {
    display: none;
  }
}
@media (max-width: 865px) and (min-width: 740px) {
  .work__grid {
    grid-template-columns: auto;
  }
}
@media (min-width: 740px) and (max-width: 1200px) {
  nav > .header__wrap > #mobile-menu {
    display: none;
  }
  nav > .header__wrap {
    width: 90vw;
  }
  .intro {
    width: 90vw;
  }
  .proj__title {
    width: 80vw;
  }
  .section_title {
    width: 80vw;
  }
  .sub_sec {
    width: 80vw;
  }
  .double-img {
    width: 80vw;
  }
  #research_3 {
    width: 75vw;
  }
  #ideate_1 {
    width: 32vw;
  }
  .about {
    width: 90vw;
  }
  .abt {
    width: 35vw;
    height: auto;
  }
}

@media (max-width: 740px) {
  nav > .header__wrap {
    width: 90vw;
  }
  .header__btns {
    display: none;
  }
  .intro {
    width: 90vw;
    font-size: 42%;
  }
  .intro__head {
    font-size: 1.8rem;
    letter-spacing: 0px;
  }
  .red__intro {
    font-size: 1.8rem;
    letter-spacing: 0px;
  }
  .sub__intro {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 8px 0;
  }
  .sub__intro_red {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .intro__btn_txt {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 12px 40px;
  }
  .bg {
    transform: translateY(-210px) rotate(180deg);
  }
  .work__grid {
    grid-template-columns: auto;
    grid-gap: 16px;
    margin-bottom: 48px;
  }

  .proj__title {
    width: 80vw;
  }
  .section_title {
    width: 80vw;
  }
  .sub_sec {
    width: 80vw;
  }
  .double-img {
    width: 80vw;
  }
  #research_3 {
    width: 75vw;
  }
  #ideate_1 {
    width: 32vw;
  }
  .txt_block {
    width: 32vw;
  }
  #ideate_1 {
    width: 52vw;
  }
  .txt-mid {
    width: 75vw;
  }
  .name {
    font-size: 2rem;
  }
  .sub {
    font-size: 1.2rem;
  }
  .txt {
    font-size: 1.2rem;
  }
  strong {
    font-size: 1.2rem;
  }
  .name-ment {
    font-size: 2rem;
  }
  .sub-ment {
    font-size: 1.2rem;
  }
  strong.blue {
    font-size: 1.2rem;
  }
  .name-seta {
    font-size: 2rem;
  }
  .sub-seta {
    font-size: 1.2rem;
  }
  .section_name {
    font-size: 2rem;
    padding: 30px 0;
  }
  .sub_sec_name {
    font-size: 1.6rem;
    margin: 20px 0 12px 0;
  }
  .txt_20 {
    font-size: 1.4rem;
  }
  .sub_sec > p > strong.txt_20-blue {
    font-size: 1.4rem;
    color: #005792;
  }
  .sub_sec > p > a.txt_20-blue {
    font-size: 1.4rem;
    color: #005792;
  }
  .sub_sec > p > strong.txt_20-seta {
    font-size: 1.4rem;
    color: #674ea7;
  }
  .sub_sec > p > a.txt_20-seta {
    font-size: 1.4rem;
    color: #674ea7;
  }
  .txt-link {
    font-size: 1.4rem;
    color: #557153;
  }
  .sub_sec > p > strong {
    font-size: 1.2rem;
    color: #7d8f69;
    font-weight: 700;
  }
  #research_1 {
    width: 80vw;
    height: auto;
  }
  #research_2 {
    width: 80vw;
  }
  .section-A > .sub_sec > h2.txt-mid.sub_sec_name {
    margin: auto;
  }
  #nxt_1 {
    display: none;
  }
  .txt_block_ment {
    width: 75vw;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    margin: auto;
  }
  .mb_48 {
    margin-bottom: 20px;
  }
  #ideate_2 {
    width: 80vw;
    margin: 16px auto;
  }
  #ideate_3 {
    width: 60vw;
    margin: 20px auto;
  }
  .pb_60 {
    padding-bottom: 20px;
  }
  .footer__soc {
    padding: 0 8px;
  }
  .footer__sub {
    padding: 0 8px;
  }
  #abt {
    display: none;
  }
  .about {
    width: 90vw;
  }
  .about__title {
    font-size: 2rem;
    padding: 4px 16px;
  }
  .about__txt {
    font-size: 1.2rem;
    padding: 0 16px;
  }
  .about__lnk {
    font-size: 1.2rem;
    padding: 0 16px;
  }
  .grid_item {
    height: 200px;
    width: 300px;
  }
  .project__title {
    height: 200px;
    width: 300px;
  }

  /* nav > .header__wrap > #mobile-menu {
    display: block;
  }
  #mobile-menu {
    text-decoration: none;
    font-size: 4rem;
    margin: 8px;
    color: #434343;
    transition: ease-in-out 300ms;
    cursor: pointer;
    display: block;
    align-items: center;
  }
  nav > .header__wrap > a.active {
    color: #cc0000;
  } */
}
